.qodo
venv/
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
.eggs/
.eggs-info/
lib/
lib64/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

.env
db.sqlite3
logs/*
logs

uv.lock
extra_settings.yaml